.row {
    margin-bottom: 10px;
}

.title, .page-header { 
    margin: 10px 0 10px 0;
}

pre {
    outline: 1px solid #ccc; 
    padding: 5px; margin: 5px; 
}

#payload, #response {
    max-height: 600px;
    overflow: scroll;
}

td {
    text-align: center;
    vertical-align: middle!important;
}

.token {
    max-width: 800px;
    overflow: scroll;
    text-align: left;
}

.hidden-false::before {
    content: '隱藏';
}
.hidden-true::before {
    content: '顯示';
}

.over {
    color: red;
}
